/****
* @file main.css
* @brief the main styling for TimeBudgeter
* @author Trevor Ratliff
* @date 2022-11-21
* 
* @verbatim
* History:  Date  |  Programmer  |  Contact  |  Description  |
*	2022/11/21  |  Trevor Ratliff  |  trevor.w.ratliff@gmail.com  |  file creation  |
* @endverbatim
****/
:root {
	--main-color: 340deg;
	--contrast-color: 160deg;
	--right-color: 180deg;
	--left-color: 140deg;
}

body {
	font-family: verdana, arial, monospace;
	font-size: 20px;
	margin: 0rem;
	padding: 0.5rem;
	height: 100vh;
}

main#app {
	display: grid;
	grid-template: 
		'label_important label_urgent'
		'importantUrgent importantUrgent'
		'label_unimportant label_urgent02'
		'unimportantUrgent unimportantUrgent'
		'label_important02 label_nonurgent'
		'importantNonurgent importantNonurgent'
		'label_unimportant02 label_nonurgent02'
		'unimportantNonurgent unimportantNonurgent'
		'tools tools' / 8rem auto;
	grid-template-rows: 
		1rem calc(25% - 1.25rem) 
		1rem calc(25% - 1.25rem) 
		1rem calc(25% - 1.25rem) 
		1rem calc(25% - 1.25rem) 
		30%;
	grid-gap: 0.25rem;
	position: relative;
	width: calc(100% - 0rem);
	height: calc(100% - 1rem);
}

main#app>label {
	font-size: 1rem;
}

main#app>section.cell {
	background-color: #ccc;
	border: 1px solid #6699cc;
	border-radius: 0.5rem;
	display: grid;
	font-size: 1.8rem;
	grid-template: 
		auto / 100%;
	padding: 1rem;
	overflow-y: auto;
}

main#app>section.cell i {
	border: 10px solid hsla(var(--left-color), 75%, 50%, 0%);
	border-right-width: 0px;
	border-left-color: hsla(var(--left-color), 75%, 25%, 100%);
	/* box-shadow: 10px 5px 5px -3px hsla(0deg, 0%, 40%, 60%); */
	cursor: pointer;
	display: inline-block;
	height: 1px;
	width: 1px;
}

main#app>section.cell span {
	/* display: inline-block; */
}

main#app>section.cell .note {
	font-size: 1rem;
	white-space: pre-wrap;
}

main#app>section#important_urgent { 
	grid-area: importantUrgent;
	background-color: hsla(16deg, 76%, 80%, 1.0);
}

main#app>section#important_nonurgent { 
	grid-area: importantNonurgent; 
	background-color: hsla(90deg, 76%, 80%, 1.0);
}

main#app>section#unimportant_urgent { 
	grid-area: unimportantUrgent; 
	background-color: hsla(60deg, 76%, 80%, 1.0);
}

main#app>section#unimportant_nonurgent { 
	grid-area: unimportantNonurgent; 
}

main#app>section#tools {
	border: 0px solid #6699cc;
	grid-area: tools;
	padding: 0ex;
}

main#app>label#important {
	grid-area: label_important;
}
main#app>label#important02 {
	grid-area: label_important02;
}

main#app>label#urgent {
	grid-area: label_urgent;
}
main#app>label#urgent02 {
	grid-area: label_urgent02;
}

main#app>label#unimportant {
	grid-area: label_unimportant;
}
main#app>label#unimportant02 {
	grid-area: label_unimportant02;
}

main#app>label#nonurgent {
	grid-area: label_nonurgent;
}
main#app>label#nonurgent02 {
	grid-area: label_nonurgent02;
}

main#app>label#spacer {
	grid-area: spacer;
}

section#activity, section#reminder {
	display: grid;
	grid-template:
		auto / 100%;
	grid-gap: 0.25rem;
}

dialog#alerts {
	position: absolute;
	top: 0rem;
	max-width: 80vw;
	background-color: hsl(var(--main-color), 10%, 92%);
	border-radius: 0.5rem;
	border-width: 1px;
	box-shadow: 10px 10px 20px 10px hsla(0deg, 0%, 15%, 70%);
}

#d_title, #d_note {
    white-space: pre-wrap;
}

.bold {
	font-weight: 600;
}

.field {
	width: 100%;
}

.field label {
	display: block;
	font-weight: 600;
	vertical-align: top;
	width: 100%;
}

.field span {
	display: block;
	width: 100%;
	text-align: left;
}

.field .tall {
	height: calc(100% - 1rem);
}

.field span input, .field span select, .field span textarea {
	width: calc(100% - 1rem);
	font-size: 1.8rem;
	padding: 0.25rem;
}

.field-end {
	clear: right;
	float: none;
	text-align: right;
}

.field-end button {
	font-size: 1.8rem;
}

.float-l {
	float: left;
}

.hidden {
	display: none;
}

.rot90 {
	rotate: 90deg;
}

.rot-90 {
	rotate: -90deg;
}

/* styles from [https://levelup.gitconnected.com/tabbed-interfaces-without-javascript-661bab1eaec8] for making tabs*/
.tabs {
	position: relative;
}
.tabs > input {
	display:block; /* "enable" hidden elements in IE/edge */
	position:absolute; /* then hide them off-screen */
	left:-500%;
}
.tabs > ul {
	position:relative;
	z-index:10;
	list-style:none;
	display:flex;
	margin-bottom:-0.04rem;
	margin-block-start: 0rem;
	padding-inline-start: 0rem;
	font-size: 1.5rem;
}
.tabs > ul label,
.tabs > div {
	border:1px solid hsl(220, 100%, 60%);
}
.tabs > ul label {
	display:inline-block;
	padding:0.25rem 1rem;
	background:hsl(220, 100%, 90%);
	border-right-width:0;
}
.tabs > ul li:first-child label {
	border-radius:0.5rem 0 0 0;
}
.tabs > ul li:last-child label {
	border-right-width:1px;
	border-radius:0 0.5rem 0 0;
}
.tabs > div {
	position:relative;
	background:hsl(220, 100%, 98%);
	border-radius:0 0.5rem 0.5rem 0.5rem;
}
.tabs > input:nth-child(1):focus ~ ul li:nth-child(1) label,
.tabs > input:nth-child(2):focus ~ ul li:nth-child(2) label,
.tabs > input:nth-child(3):focus ~ ul li:nth-child(3) label,
.tabs > input:nth-child(4):focus ~ ul li:nth-child(4) label,
.tabs > input:nth-child(5):focus ~ ul li:nth-child(5) label,
.tabs > input:nth-child(6):focus ~ ul li:nth-child(6) label,
.tabs > input:nth-child(7):focus ~ ul li:nth-child(7) label,
.tabs > input:nth-child(8):focus ~ ul li:nth-child(8) label,
.tabs > input:nth-child(9):focus ~ ul li:nth-child(9) label {
	text-decoration:underline;
}
.tabs > input:nth-child(1):checked ~ ul li:nth-child(1) label,
.tabs > input:nth-child(2):checked ~ ul li:nth-child(2) label,
.tabs > input:nth-child(3):checked ~ ul li:nth-child(3) label,
.tabs > input:nth-child(4):checked ~ ul li:nth-child(4) label,
.tabs > input:nth-child(5):checked ~ ul li:nth-child(5) label,
.tabs > input:nth-child(6):checked ~ ul li:nth-child(6) label,
.tabs > input:nth-child(7):checked ~ ul li:nth-child(7) label,
.tabs > input:nth-child(8):checked ~ ul li:nth-child(8) label,
.tabs > input:nth-child(9):checked ~ ul li:nth-child(9) label {
	background:hsl(220, 100%, 98%);
	border-bottom-color:hsl(220, 100%, 98%);
}
.tabs > div > section,
.tabs > div > section h2 {
	position:absolute;
	top:-999em;
	left:-999em;
}
.tabs > div > section {
	padding:1em;
}
.tabs > input:nth-child(1):checked ~ div > section:nth-child(1),
.tabs > input:nth-child(2):checked ~ div > section:nth-child(2),
.tabs > input:nth-child(3):checked ~ div > section:nth-child(3),
.tabs > input:nth-child(4):checked ~ div > section:nth-child(4),
.tabs > input:nth-child(5):checked ~ div > section:nth-child(5),
.tabs > input:nth-child(6):checked ~ div > section:nth-child(6),
.tabs > input:nth-child(7):checked ~ div > section:nth-child(7),
.tabs > input:nth-child(8):checked ~ div > section:nth-child(8),
.tabs > input:nth-child(9):checked ~ div > section:nth-child(9) {
	position:Static;
}
.tabs > ul label {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

@media screen and (min-width: 512px) {
	body {
		background-color: hsla(0deg, 100%, 95%, 1.0);
	}
}

@media screen and (min-width: 640px) {
	body {
		background-color: hsla(30deg, 100%, 95%, 1.0);
		font-size: 1rem;
	}
	main#app {
		grid-template: 
			'spacer label_urgent label_nonurgent'
			'label_important importantUrgent importantNonurgent'
			'label_unimportant unimportantUrgent unimportantNonurgent'
			'tools tools tools' / 1rem calc(50% - 1rem) calc(50% - 1rem);
		grid-template-rows: 1rem calc(50% - 1rem) calc(50% - 1rem) auto;
	}
	main#app>label#important, main#app>label#unimportant {
		position: absolute;
		left: -1.9rem;
		rotate: -90deg;
		top: 3.3rem;
	}
	main#app>label#unimportant {
		left: -2.9rem;
		top: 4.5rem;
	}
	main#app>label#important02, 
	main#app>label#urgent02, 
	main#app>label#unimportant02, 
	main#app>label#nonurgent02 {
		display: none;
	}
	/* #a_title_field, #r_title_field { grid-area: title; }
	#a_note_field, #r_note_field { grid-area: note; }
	#a_button_field, #r_button_field { grid-area: button; }
	#activities_grid, #reminders_grid { grid-area: list; } */
	section#activity, section#reminder, section#data {
		display: grid;
		/* grid-template:
			'title title'
			'note note'
			'. .'
			'. .'
			'button button'
			'list list'; */
		grid-template:
			auto / 50% 50%;
		grid-gap: 0.25rem;
	}
	section#data {
		grid-template:
			calc(100% - 1.25rem) auto / 100%;
	}
	#tools * {
		font-size: 1rem;
	}
	#tools > input, #tools > select, #tools > textarea {
		font-size: 0.75rem;
	}
}

@media screen and (min-width: 1024px) {
	body {
		background-color: hsla(240deg, 100%, 95%, 1.0);
		/* color: hsla(60deg, 10%, 95%, 1.0); */
	}

	main#app {
		grid-template: 
			'spacer label_urgent label_nonurgent tools'
			'label_important importantUrgent importantNonurgent tools'
			'label_unimportant unimportantUrgent unimportantNonurgent tools' / 1rem calc(35% - 1rem) calc(35% - 1rem) auto;
		grid-template-rows: 1rem calc(50% - 1rem) calc(50% - 1rem);
	}

	main#app>label#important, main#app>label#unimportant {
		/* left: 10.4rem; */
	}

	section#activity, section#reminder, section#data {
		display: grid;
		grid-template:
			auto / 100%;
		grid-gap: 0.25rem;
		height: calc(100vh - 3.64rem);
	}

	section#activity #a_note_field textarea, section#reminder #r_note_field textarea {
		height: 10em;
	}

	section#data {
		grid-template:
			calc(100% - 1.25rem) auto / 100%;
	}

	.field label {
		display: block;
		width: calc(100% - 0rem);
		vertical-align: top;
	}

	.field span {
		display: block;
		width: calc(100% - 0rem);
		margin-left: 0.25rem;
	}

	.field span input, .field span select, .field span textarea {
		display: block;
		width: calc(100% - 1rem);
	}

	.field span textarea {
		height: calc(100% - 1rem);
	}

	.tabs > div {
		margin-left: 2rem;
	}

	.tabs > ul {
		position:absolute;
		font-size: 1.5rem;
		flex-direction: row-reverse;
		rotate: -90deg;
		top: calc(8rem + 0.33rem);
		left: calc(-8rem - 0.06rem);
		width: 18rem;
		height: 1.4rem;
	}

	.tabs > ul li:first-child label {
		border-radius:0 0.5rem 0 0;
	}

	.tabs > ul li:last-child label {
		border-radius:0.5rem 0 0 0;
		border-right-width: 0rem;
	}
}
